<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>BankApplication</display-name>
  <welcome-file-list>
    <welcome-file>Welcome.html</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>ChangePasswordFilter</display-name>
    <filter-name>ChangePasswordFilter</filter-name>
    <filter-class>com.BankApp.Controller.ChangePasswordFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ChangePasswordFilter</filter-name>
    <url-pattern>/ChangePasswordFilter</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ChangePasswordFilter</filter-name>
    <servlet-name>ChangePassword</servlet-name>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  
</web-app>